body{
    margin:0;
    padding:0;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#9b1313;
    padding:15px 40px;
}

.logo{
    color:white;
}

.menu{
    list-style:none;
    display:flex;
    gap:25px;
}

.menu a{
    color:orange;
    text-decoration:none;
    font-size:18px;
}

.menu a:hover{
    color:#fff;
}
.img-fluid{
    width:100%;
}
.banner{
    height: 500px;
    object-fit: cover;
    position:relative;
}
.banner-text{
    position:absolute;
    top:50%;
    left:20%;
    transform:translate(-50%, -50%);
    color:white;
    text-align:left;
}
.banner-text .btn{
    background-color: #cd1c18;
    border: none;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
.banner-text .btn:hover{
    background-color: #fff;
    color:#000;
}
.about{
    display:flex;
    justify-content: space-between;
}
.img-fluid{
    width:100%;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
}
.pl-30{
    padding-left:30px;
}
.pr-30{
    padding-right:30px;
}
.left,.right{
    width:50%;
}
.dishes{
   display: flex;
    justify-content: space-between;
}
.dishes_card{
    border: 1px solid #eee;
    margin: 5px;
}
.popular-dishes h2, .todays-menu h2{
    text-align: center;

}
.dishes_card__img img{
    width: 100%;
}
.red-btn{
    background-color: #cd1c18;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border:none;
}
.dishes-details {
    padding: 20px;
}
.dishes_card__price p,.dishes_card__rating p {
    margin: 0;
}
.dishes_card__order {
    padding-top: 20px;
}
.dishes_card__order .btn:hover{
    color:#000;
    background-color: orange;
}
.menu-cards{
    display: flex;
    gap:5px;
    background-color: orange;
}
.menu-cards .menu-img{
    padding:20px;
}
.menu-items .item{
    display: flex;
    gap:30px;
    align-items: center;
    background-color: #f2cf7e;
    padding: 10px;
    margin: 9px;
    border-radius: 30px;
}
.menu-list h3{
    text-align: center;
}
.menu-items hr{
    flex:1;
    border:none;
    border-bottom:3px dotted #000;
}
.col-50{
    width:50%;
}
.pt-40{
    padding:40px;
}
.menu-list{
    padding-right:20px;
    padding-bottom:20px;
}
.heading{
    padding-left:40px;
    padding-right:40px;
    padding-top:40px;
    text-align: center;
}
.review-cards{
    display: flex;
    justify-content: space-between;
}
.review-card{
    border:1px solid #ccc;
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
}
.review-card .profile{
        display: flex;
    align-items: center;
}
.contact-us .d-flex{
    display: flex;
    justify-content:center;
    gap:40px;
}
.contact-us table{
    width:100%;
}
input, textarea {
    padding: 10px;
    width: 80%;
    margin: 10px;
}
footer{
    background-color: #ffbf00;
}
.footer{
        display: flex;
    justify-content: space-between;
    gap:40px;
    padding:40px
}
.w-100{
    width:100%;
}
.socialmedia{
    display: flex;
    gap: 30px;
    padding-top: 20px;
}
.socialmedia i{
    font-size:36px;
}
.copy{
    text-align: center;
    padding: 20px;
    margin: 0;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-bottom: 40px;
}

.title span{
    width: 120px;
    height: 1px;
    background: #c59d5f;
}

.title img{
    width: 25px;
    height: 25px;
}